# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output (もし将来ビルドするなら)
dist/*.map

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log

# Coverage
coverage/

# Env
.env
.env.local

# Mac
.AppleDouble
.LSOverride

# Windows
ehthumbs.db
Desktop.ini
